
// 1.- Variables: crea variables para dar color al texto de una página, a su fondo y para definir la anchura de un elemento.

$primary-color: #456fe2;
$secondary-color: #ec948a;
$bg-color: rgba(145, 206, 31, 0.863);
$size: 1.1em;
$anchura: 300px;
