%nav-styles {
    background-color: #b0e4b3;
    color: #000000;
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin: 0;
        display: inline;
        padding: 10px;
        
        a {
          text-decoration: none;
          color: #020202;
        }
      }
    }
  
    p {
      margin: 0;
      padding: 10px;
    }
  }